/* Universial selectors */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* Element Selectors */
header {
    display: flex;
    border: .25em solid lightblue;
    margin:  0 auto;
    padding: 1em 3em;
    font-size: 1.5em;
    justify-content: space-between;
}

section{
    display: flex;
    flex-direction: column;
    border: .25em solid lightpink;
    justify-content: flex-start;
    padding: 0 5em;
}

footer {
    display: flex;
    border: .25em solid lightgrey;
    margin:  0 auto;
    padding: 3em 3em;
}


/* Class Selectors */
.questions {
    border: .2em solid black;
    padding: 2em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.answers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.ansBtn {
    border: .2em solid black;
    text-align: left;
    padding: 10px 10px;
    width: 25em;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: .5em;
    background-color: lightblue
;
}