/* Universial selectors */
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Element Selectors */
header {
    display: flex;
    /* border: .25em solid lightblue; */
    margin:  0 auto;
    padding: 1em 6em;
    font-size: 1.5em;
    justify-content: space-between;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15em;
}

body{
    /* width: 80%; */
}

footer {
    display: flex;
    padding: 0 0;
    flex-direction: column;
    align-items: center;
    
}

/* Class Selectors */
.header_btn{
    font-size: 20px;
    border: .1em solid black;
    text-align: left;
    border-radius: .25em;
    cursor: pointer;
    background-color: lightblue;
}

 .timer {
    font-size: 20px;
 }
.start_card {
    text-align: center;
    padding: 2em 0em;
    font-size: 4em;
    font-weight: bolder;
}

.start_p {
    margin: 0 auto;
    padding: 2em 0em;
    font-size: .5em;
    text-align: left ;
}
.start_btn{
    font-size: 30px;
    border: .1em solid black;
    text-align: left;
    border-radius: .25em;
    cursor: pointer;
    background-color: lightblue;
}

.end_card {
    display: none;
    text-align: center;
    padding: 2em 2em;
    font-weight: bolder;
}

.end_p {
    margin: 0 auto;
    padding: 0em 2em;
    font-size: 5em;
    text-align: center ;
}
.end_score {
    margin: 0 auto;
    padding: 2em 0em;
    font-size: 2em;
    text-align: center ;
}
.end_Score2 {
    margin: 0 auto;
    padding: 2em 0em;
    font-size: 2em;
    text-align: center ;
}

.end_card2 {
    display: none;
    text-align: center;
    padding: 2em 0em;
    font-size: 1em;
    font-weight: bolder;
}

input[type="text"] {
    font-size: 2em;
}

.header_btn:hover, 
.start_btn:hover,
.ansBtn:hover {
    background-color: #d71f1f;
    color: white;
}

.questions {
    display: none;
    padding: 2em 0em;
    font-size: 3em;
    font-weight: bolder;
}

.answers {
    display: none;
    align-items: flex-start;
    flex-direction: column;

}
.ansBtn {
    border: .1em solid black;
    text-align: left;
    padding: 10px 10px;
    width: 25em;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: .5em;
    background-color: lightblue;
}

.foot_txt1, .foot_txt2 {
    font-size: 4em;
    font-weight: bold;
    color: lightgray;
    padding-top: 1em;
}

.foot_txt1 {
    display: none;
}

.foot_txt2 {
    display: none;
}